

body{
  margin:0;
}

h1,h2,h3,h4{
  font-family: Droid Sans;
  color: #3e3e3e;
}
p{
  font-family: Lora;
  color: #313131;
}
a{
  color: white;
  font-size: 14px;
  text-transform: initial;
}
a:active,
a:hover{
  color: #9100FF;
}

/* header */
  #header{
    text-align: center;
    margin: 4em 0;
  }
  #mc_embed_signup input.email{
    padding: 9px 12px;
    width: 28em;
  }
  #mc_embed_signup_scroll{
    width: 94%;
    margin: 0 auto;
  }
  #header h1{
    font-size: 30px;
    font-family: Cabin, sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  #header h2{
    color: #737373;
    font-weight: lighter;
    font-size: 14px;
    width: 94%;
    margin: 0 auto;
    line-height: 22px;
    margin-top: -12px;
    margin-bottom: 18px;
  }

/* info section */
  #info{
    background-color: #9100FF;
    /*padding: 7em 1em 5em;*/
    padding: 5em 1em 1em;
  }
  #info > div p{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    line-height: 24px;
  }
  #info > div{
    /*width: 80%;*/
    margin: 0 auto;
  }
  
  #info img{
    margin: 0 auto;
    display: block;
  }
  #info > div > div img:nth-of-type(1){
    width: 18em;
  }
  #info > div > div:nth-of-type(2) img{
    width: 14em;
  }
  #info > div > div:nth-of-type(3) img{
    width: 10em;
  }

/* social */
  #social{
    padding: 7em 1em;
    margin: 0 auto;
    text-align: center;
  }
  #social h3{
    line-height: 33px;
  }
  #social ul{
    padding: 0;
  }
  #social ul li{
    display: inline-block;
    margin: 20px;
    list-style-type: none;
  }
  #social img{
    width: 36px;
    display: inline-block;
  }
  /*#social li:nth-of-type(2) img{
    width: 43px;
  }
  #social li:nth-of-type(3) img{
    width: 43px;
  }*/

/* footer */
  footer{
    padding: 2em;
    background-color: #2f2f2f;
    text-align: center;
    color: #969696;
    line-height: 25px;
  }

@media (min-width: 768px){
  #mc_embed_signup input.email{
    padding: 9px 12px !important;
    width: 28em !important;
    display: inline-block !important;
  }
  #mc_embed_signup .button{
    width: auto !important;
    display: inline-block !important;
  }
  #mc_embed_signup .clear {
    display: inline-block !important;
    width: auto !important;
  }
}

@media(min-width: 1200px){
  #header{
    margin: 5em;
  }
  #header h2{
    width: 25%;
  }

  #info > div > div{
    width: 30%;
    display: inline-block;
    padding: 1em;
  }

}


